<div id="stripe">
    <div class="arrow">
      <div class="large-screen">
        <i id="right" class="fas fa-caret-right"></i>
        <i id="left" class="fas fa-caret-left hidden"></i>
      </div>
      <div class="small-screen">
        <i id="up" class="fas fa-caret-up hidden"></i>
        <i id="down" class="fas fa-caret-down"></i>
      </div>
    </div>
    <div class="about">
      <p>Friday Studio is a place for critique, collaboration, and support for students at George Mason taking graphic design classes. Every Friday one of the classrooms on the first floor is open for students to work from and look for support from other students and faculty members.</p>
      <p>Unless otherwise noted the space is open from 10AM&ndash;3PM every Friday until the end of the semester. Occasionally other events will take place during that time in another space but the open studio space is always available.</p>
    </div>
</div>
